.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 400px;
}

div h1, h3, h4 {
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div h2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div p {
	width: 600px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-image: radial-gradient(paleturquoise, turquoise)
}